<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<base href="/">
		<title>Kumparan::tes</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/elegant-icons-style.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/list.js"></script>
	</head>
	<body>
		<main class="main">
			<div class="container-fluid">
				<div class="home-card">
					<h2>Simple CRUD</h2>
					<ul class="menu">
						<li><a href="./topics">Topics</a></li>
						<li><a href="./news">News</a></li>
					</ul>
				</div>
			</div>
		</main>
	</body>
</html>