body {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
.home-card {margin: 100px auto 0;width: 400px;}
.navbar-fixed-top, body.navbar-fixed header.navbar, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
header.navbar .container-fluid {
    padding: 0;
}
.page-status {
    float: left;
    line-height: 50px;
    margin: 0 10px;
}
.pagination {
    margin: 8px 0 0;
}
.container-fluid {
    padding: 55px 15px 10px;
    margin: 0 auto;
}
body:not(.top-nav).fixed-nav .sidebar {
    position: fixed;
}
body:not(.top-nav) .sidebar {
    position: absolute;
    top: 0;
    z-index: 1;
    display: inline !important;
    width: 200px;
    height: 100%;
    padding:0;
    color: #fff;
    background: #2a2c36;
}
body.sidebar-nav .sidebar {
    left: 0;
}
.sidebar {
    left: -200px;
    transition-duration: 0.25s, 0.25s, 0.25s, 0.25s, 0.25s, 0.25s;
    transition-property: left, right, padding-left, padding-right, margin-left, margin-right;
}
body:not(.top-nav) .sidebar .sidebar-header {
    padding-bottom: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}
body:not(.top-nav) .sidebar .sidebar-header .img-avatar {
    width: 80px;
    margin: 20px auto 10px;
    border-radius: 50em;
}
.img-avatar {
    border-radius: 50em;
}
body:not(.top-nav) .sidebar .sidebar-nav {
    position: relative;
    overflow: auto;
}
body:not(.top-nav) .sidebar ul.nav li.nav-title {
    padding: 0.75rem 1rem;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.3125rem;
    color: #d1d4d7;
    text-transform: uppercase;
}
body:not(.top-nav) .sidebar ul.nav li.nav-item {
    position: relative;
    margin: 0;
}
body:not(.top-nav) .sidebar ul.nav li.divider {
    height: 10px;
}
body:not(.top-nav) .sidebar ul.nav li.nav-item a.nav-link {
    display: block;
    padding: 0.55rem 1rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3125rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border-left: 3px solid transparent;
}
body.sidebar-nav .main {
    padding-left: 200px;
}
body.navbar-fixed .main {
    padding-top: 55px;
}
.nav-brand {
    text-align: center;
    padding: 3px;
}
.main {
    padding-bottom: 50px;
    transition-duration: 0.25s, 0.25s, 0.25s, 0.25s;
    transition-property: padding-left, padding-right, margin-left, margin-right;
}
footer.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    padding: 0 1rem;
    line-height: 50px;
    color: #2a2c36;
    background: #f8f9fa;
    border-top: 1px solid #d1d4d7;
}
#search_cat{
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 1;
}
body:not(.top-nav) .sidebar ul.nav li.nav-item a.nav-link {
    line-height: 24px;
    padding-left: 24px;
}
body:not(.top-nav) .sidebar ul.nav li.nav-item a.nav-link:hover {
    color: #fff !important;
    background: #20a8d8 !important;
}
body:not(.top-nav) .sidebar ul.nav li.nav-item a.nav-link i {
    min-width: 20px;
}
.clr-b{clear: both;}
.clr-l{clear: left;}
.clr-r{clear: right;}
.editFm #save_btn{display: none;}
#updt_btn{display: none;}
.editFm #updt_btn{display: inline;}
.act_rows i:hover {cursor: pointer;}